<nav>
    <div class="container">
        <div class="row">

            <div class="col-xs-2 col-md-4 logo">
                <a href="/home/" title="Home"><img src="../../content/icons/guidemesize7.png" class="img_nav"/></a>
            </div>

            <div class="col-xs-8 col-md-4 ">
                <div class=" text-center "><a href="http://gent.relivetraffic.com/?vehicle=car&z=14&lat=51.057&lon=3.7254&fLat=51.0161&fLon=3.7352&tLat=51.0598&tLon=3.7273" target="_blank"><i class="fa fa-globe  margin-nav_icon fa-2x icon-custom" aria-hidden="true"></i></a></div>
            </div>       
            
            <div class="col-xs-2 col-md-4 ">
                <h5 class="pull-right margin-nav_back link">
                    <a class="link" href="javascript:history.back()">Back</a>
                </h5>
            </div>
        </div>
    </div>
</nav>

