<nav>
    <div class="container">
        <div class="row">

            <div class="col-xs-2 col-md-4 logo">
                <a href="/home/" title="Home"><img src="../../content/icons/guidemesize7.png" class="img_nav" /></a>
            </div>

            <div class="col-xs-8 col-md-4 ">
            </div>     
            
            <div class="col-xs-2 col-md-4 ">
                <h5 class="pull-right margin-nav_back link">
                    <a class="link" href="javascript:history.back()">Back</a>
                </h5>
            </div>
        </div>
    </div>
</nav>